body{

    background-color: #ebebeb;

}

nav {
    display: flex;
    width: 100%;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    animation: gradiente 1s ease infinite;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav img.Logo {
    margin-left: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

nav ul li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 10px;
}

nav ul li a img {
    transition: top ease 0.5s;
}

.group {
    display: flex;
    align-items: center;
    position: relative;
    width: 1000px;
    margin-right: 500px;
}

.input {
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus, .input:hover {
    border-color: rgba(42, 74, 255, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(76, 81, 234, 0.1);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    color: #333;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    margin-left: 10%;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.main-image {
    margin-right: 20px;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner{

    background-color: #D9D9D9;
    width: 55%;
    height: 67%;
    position: absolute;
    left: 140px;
    top: 90px;

}

.titulo{

    font-size: 30px;
    position: absolute;
    left: 150px;
    top: 25px;

}

.qntCarrinho{

    background-color: black;
    font-size: 16px;
    color: white;
    padding: 20px;
    margin: auto;

}

.nomeItem{

    font-size: 20px;
    position: absolute;
    left: 250px;
    top: 92px;

}

.valorItem{

    font-size: 25px;
    position: absolute;
    left: 80%;
    top: 83px;

}

img{

    background-color: white;
    padding: 10px;
    width: 130px;
    height: 150px;
    position: absolute;
    left: 50px;
    top: 100px;
    
}

.condicaoItem{

    font-size: 14px;
    position: absolute;
    left: 250px;
    top: 140px;

}

.vendedorItem{

    font-size: 14px;
    position: absolute;
    left: 250px;
    top: 165px;

}

.qntItem{

    border: none;
    position: absolute;
    top: 300px;
    left: 50px;
}

#salvar{

    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: white;
    border: none;
    width: 160px;
    padding: 15px;
    position: absolute;
    top: 300px;
    left: 240px;

}

#salvar:hover{

    cursor: pointer;
    background-color: #ebebeb;

}

#excluir{

    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    border: none;
    width: 160px;
    padding: 15px;
    position: absolute;
    top: 300px;
    left: 440px;

}

#excluir:hover{

    cursor: pointer;
    background-color: #ebebeb;
}

select{

    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    width: 150px;
    padding: 15px;
    border: none;
    cursor: pointer;

}

select:hover{

    cursor: pointer;
    background-color: #ebebeb;
}

option{

    font-size: 15px;

}

p{

    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-left: 15px;
}

.garantia{

    border: 2px solid;
    padding: 20px;
    display: flex;
    width: 86%;
    position: absolute;
    left: 50px;
    top: 80%;
    margin-bottom: 500px;

}

label{

    font-size: 16px;
}

#semGarantia{

    margin-left: 40px;
}

#garantia30dias{

    margin-left: 80px;
}

#garantia1ano{

    margin-left: 80px;
}

.escolhaGarantia{

    cursor: pointer;
    width: 25px;
}
